@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    background-color: #f9faff;
    font-family: 'Lexend', sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}
