extends includes/layouts/base

block fonts
    include includes/fonts

append meta
    include includes/meta

block data
    include includes/data/data

block header
    include includes/header

block content
    include includes/content

block footer
    include includes/footer

block add-scripts
    include includes/add-scripts