main
    .content-outer
        .content-inner
            block top
                include content-top
            block middle
                include content-middle
            block bottom
                include content-bottom