.bottom-block-outer
    .bottom-block-inner
        .left-part
            h2#tip
                span ПОРАДА –
                |  ВІД YUMMY
            p.tip-desc З'ївши чергову шоколадку, ви не просто набираєте трохи додаткових калорій, але покращуєте тим самим роботу мозку, настрій і стаєте трішки добрішим. Вирішивши поласувати шоколадкою, віддавайте перевагу саме чорному шоколаду з високим вмістом какао-бобів. У цьому вигляді шоколаду менше жиру і цукру, ніж в молочному шоколаді, але зате магнію, кальцію, заліза, білка, антиоксидантів і вітамінів предостатньо.
            .list-block
                h3.text-tip Солодощі, які радить їсти Ямі:
                ul(class="sweet-list")
                    each sweet in sweets
                        li(class="sweet")= sweet
        .right-part
            img(src="assets/images/pug2.png" alt="pug2" class="pug2-img")