.top-block-outer
    .top-block-inner
        .left-part
            h1.main-title
                span YUMMY
                |  PUG
            p.top-desc Всім привіт, я Ямі і я мопс, який дуже сильно полюбляє солодощі. Сьогодні я розкажу вам, чому саме солодощі і чому вони так важливі в нашому житті. Доречі, моє імʼя з англійської мови перекладається як “Смачний”.
            a(href=navLinks[0].href class="button top-block-button")= navLinks[0].text
        .right-part
            img(src="assets/images/pug1.png" alt="pug1" class="pug1-img")