footer
    .footer-outer
        .footer-inner
            .logo-wrapper
                img(src="assets/images/logo.png" alt="logo" class="logo logo-footer")
            h4 Приєднуйся і живи зі мною у світі солодощів!